{% extends 'shared/layout_base.html' %}
{% load static %}

{% block breadcrumb %} 
    <a class="breadcrumb-item" href="/accounts">Accounts</a>
    <a class="breadcrumb-item" href="../details/{{account.id}}">{{account.owner}}</a>
    <a class="breadcrumb-item" href="">Deposit</a>
{% endblock %}

{% block main %} 
    <div class="row">
        <div class="col-md-9">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card">
                    <div class="card-body">
                        <div class="mb-4 row">
                            <label class="col-md-4">Amount</label>
                            <div class="col-md-8">
                                {{form.amount}}
                            </div>
                        </div>
                       
                    </div>
                    <div class="card-footer text-end">
                        <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Save</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
{% endblock %}




