<div class="px-2 py-4">
    <a class=" text-dark h4 text-truncate mb-0" style="text-decoration:none; display: block" title="Manage"><i class="fa fa-user-circle"></i> Administrator</a>
    <div class="text-muted" style="padding-left:32px">{{user_account.account}}</div>
</div>
<ul class="list-unstyled" style="margin-top:0px">
    <li><a href="/"><i class="fa fa-home text-muted"></i> Dashboard</a></li>  
    <li><a href="/vehicles/"><i class="fa fa-users text-muted"></i> Vehicles</a></li>   
    <li><a href=""><i class="fa fa-calendar-check-o text-muted"></i> Accounts</a></li>
    <li><a href=""><i class="fa fa-calendar text-muted"></i> Transactions</a></li>
    
    
    <a href="/control/" target="_blank" class="btn btn-warning">Launch Automatic Tollgate</a>
</ul>
